body
{
  background: lightblue;
  font-family: verdana,sans-serif;
}

  #wrapper
  {
    width: 960px;
    margin: 0 auto;
  }

    h1
    {
      text-align: center;
    }

    #songChoice,
    #songState
    {
      margin-bottom: 20px;
      text-align: center;
    }

    #myCanvas
    {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }

    #myProgress
    {
      border:1px solid black;
      color:#fff;
      width:400px;
      height:20px;
      margin: 0 auto 20px;
    }
      #myBar
      {
        background:green;
        height:20px;
        display:inline-block;
      }

    #buttonControls
    {
      display:flex;
      justify-content: center;
      margin-bottom: 20px;
    }

      button
      {
        margin: 0 20px;
      }

      form ul
      {
        display: flex;
        justify-content: center;
      }

        form ul li
        {
          list-style-type: none;
          margin-right: 20px;
        }
